@page
@model RestaurantListModel

@{
    ViewBag.Title = "Home Page";

}



<table>
    @foreach (var restaurant in @Model.RestaurantList)
    {
        <tr>
            <td>@restaurant.Id</td>
            <td>@restaurant.Name</td>
            <td><a asp-action="Details" asp-route-id="@restaurant.Id">Details</a></td>
        </tr>
    }
</table>