@model OdeToFood.ViewModels.HomeIndexViewModel


@{ 
    ViewBag.Title = "Home Page";
}


<h1>@Model.CurrentDate</h1>
<table>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Id</td>
            <td>@restaurant.Name</td>
            <td><a asp-action="Details" asp-route-id="@restaurant.Id">Details</a></td>
        </tr>
    }
</table>
<a asp-action="Create">Create</a>
